# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Basic Go CI (lint, build, test)

on:
  push:
    branches:
      - main
  pull_request:


jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.25
        
    - name: lint
      run: |
        curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s v1.64.8
        ./bin/golangci-lint run

    - name: Build
      run: go build -v ./...

    - name: CI
      run: make ci
